 

@{
    ViewBag.Title = "NumberBox";
} 
 
 
<partial name="~/Views/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>

    @* NOTE: adding the css class tp-MinusFirst places the minus sign first, that is at the left of the number input control 
       NOTE2: decimal places are set by setting the decimal places of the value of the Step property 
        *@
    <div>
        <div id="Box" class="tp-MinusFirst" data-setup="{ Width: 200, Min: 0, Max: 200, Value: 100, Step: '0.500'  }"></div>
    </div>


</div>

 

<script>    
    var ctrl;
 
    tp.Ready(function () { 
        ctrl = new tp.NumberBox('#Box');
    })

 
 
    

</script>
 